*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */

.bgc-navbar{
    background-color: #2B3F50;
}

/* riga start bootstrap */

.img-start{
    width: 30%;  
}

.linea{
    background-color: white;
    height: 5px;
    width: 30%;
    border-radius: 5px;
}

/* portfolio */

.portfolio-img{
    width: 110%;
}

/* colori */

.white{
    color: white !important;
}

.bgc1{
    background-color: #1DBB9C;
}

/* debug */

.debug{
    background-color: greenyellow;
    height: 500px;
}

.style{
    background-color: red;
    width: 50%;
}

.style2{
    background-color: violet;
    width: 30%;
    height: 50px;
}

.nested-style{
    background-color: blue;
    width: 100%;
    height: 50px;
}

.nested-style2{
    background-color: blue;
    width: 45%;
    height: 50px;
}